<!DOCTYPE html>
<html lang ="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
	<head>
		<meta charset="UTF8">
	<title>This is about page</title>
	</head>
	<body>
		<section>
				<div class="card">
				<div class="card-body" th:if="${contact}">
					 <img src="" style="height: 200px; width: 200px" class="my_profile_picture" th:src="@{'/img/'+${contact.image}}" alt="profile photo."/>
					<h3 th:text="${contact.name}"></h3>
					
					<div class="description">
						<th:block th:text="${contact.discription}">
							
						</th:block>
						
					</div>
					<div class="container">
						<a href="#" th:onclick="|deleteContact(${contact.cid})|" class="btn btn-danger">Delete</a> 
						
		  <button type="button" class="btn btn-info  btn-block ">Update</button>
					</div>
				</div>
				<h1 th:unless="${contact}">You don't have permission to see these contacts</h1>
			</div>					
					
		</section>
		
	</body>
</html>