<!DOCTYPE html>
<html lang ="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
	<head>
		<meta charset="UTF-8">
	<title>This is  sign up page</title>
	</head>
	<body>
		<section>
			<div class="container">
				<div class="row">
					<div class="col-md-6 offset-md-3">
						<div class="my-card mt-3">
							
							<div th:if="${session.message}" th:classappend="${session.message.type}"
							 class="alert" role="alert">
                                <p class="text-center" th:text="${session.message.content}" > </p>
                                <th:block th:text="${#session.removeAttribute('message')}"></th:block>
                               </div>
                               
                           <!--   
                              <div class="alert alert-primary" role="alert">
  A simple primary alert—check it out!
</div>
                         <div th:if="${session.message}" th:classappend="${session.message.type}" 
                         class="alert" role="alert">
                          <p class="text-center" th:text="${session.message.content}"> </p>
                         <th:block th:remove="all"></th:block>
                          </div>
                           -->

							<div class="container text-center">
								<img style ="width:100px" src="#" th:src ="@{/img/reg.png}"/>
							</div>
						
						<h1 class="text-center">Register Here!!</h1>
						<form novalidate action="#" th:action="@{/do_register}" method="post" th:object="${user}">
						<!--name field-->
						 <div class="mb-3">
                        <label for="name_feild" class="form-label">Name</label>
                        <input name= "name" type="text" class="form-control" 
                        th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}"
                        id="name_feild" aria-describedby="emailHelp" placeholder="Enter here" 
                        th:value="${user.name}"	required/>
                        <div class="invalid-feedback" th:each="e : ${#fields.errors('name')}" th:text="${e}">
							name should be valid
						</div>
                        </div>
                        
                        <!--email field-->
						 <div class="mb-3">
                        <label for="email_feild" class="form-label">Email address</label>
                        <input name="email" type="email" class="form-control" id="email_feild" aria-describedby="emailHelp" placeholder="Enter here" th:value="${user.email}"	required/>
                        
                        </div>
                        <!--password field-->
						 <div class="mb-3">
                        <label for="password_feild" class="form-label">Password</label>
                        <input name="password" type="password" class="form-control" id="password_feild" aria-describedby="emailHelp" placeholder="Enter password"	required/>                
                        </div>
                        <!-- about use-->
                        <div class="form-group">
							<textarea name="about" th:text="${user.about}" placeholder="Enter something from yourself" rows="6" class="form-control" th:value="${user.about}"></textarea>
						</div>
						<div class="form-group form-check text-center">
							<input type="checkbox" name="agreement" class="form-checkinput" id="agreement">
							Accept Terms and Conditions
						</div>
					
						<!--button-->
						<div class="container text-center" >
							<button type="submit" class="btn bg-primary btn-block text-white">
								Submit
							</button>
							<button type="reset" class="btn btn-warning btn-block">
								Reset
							</button>
							
						</div>
							
						</form>
						</div>
					</div>
					
				</div>
			</div>
			
		</section>
		
	</body>
</html>